#dashboardads{
    padding:2px;
    text-align: center;
}
#main_divbody{
    cursor: pointer;
}
#main_divbody:hover{
    transform: scale(1.12);
}
#card_body{
    margin-left: -76px;
}
#category_div{
    margin-left: -58px;
   
}
.conetent_padding{
    padding-top: 10px;
}
.inputbox{
    width: 350px;
   
}
.labelstyle{
    padding-top: 21px;
}
#shopingcart{
    padding: 0px;
    background: #006cb4;
    /* border: 3px solid #24609c; */
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-size: 23px;
    
}
#shopping{
    margin-top: -17px;
}

#count{
    border-radius: 100px;
    height: 18px;
    position: absolute;
    left: 853px;
    top: 85px;
    width: 18px;
    background: #fdd922;
    /* color: #0f6cb2; */
    color: rgb(12, 11, 11);
    font-size: 11px;
    text-align: center;
    line-height: 19px;
}
#countcart{
    border-radius: 100px;
    height: 18px;
    position: absolute;
    left: 853px;
    top: 67px;
    width: 18px;
    background: #fdd922;
    /* color: #0f6cb2; */
    color: rgb(12, 11, 11);
    font-size: 11px;
    text-align: center;
    line-height: 19px;
}
#countpro{
    border-radius: 100px;
    height: 18px;
    position: absolute;
    left: 1278px;
    top: 103px;
    width: 18px;
    background: #fdd922;
    /* color: #0f6cb2; */
    color: rgb(12, 11, 11);
    font-size: 11px;
    text-align: center;
    line-height: 19px;
}
#bodystyle{
    left: 20%;
}

/* dropdown  started here*/
.dropbtn {
    background-color: #0b80cf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
    
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover{
    background-color: #0b80cf;
    color: white;
}
  
.show {display:block;}
  
#userdetails{
    margin-top: -46px;
    margin-left: 106%;
  }

#arrow{
    margin-left: 93%;
    margin-top: -73px;
}
#buynow{
    margin-left: 163px;
    margin-top: -16%;
}
#decrement{
    width: 28%;
    height: 34px;
}
#qtyvalue{
    width: 28%;
    height: 34px;
    border: none;
}
#increment{
    width: 28%;
    height: 34px;
}

/* rating added */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

.checked{
    color: #ffe400;
}
#starrate{
    font-size: 24px;
}